<div class="item">
  <div class="ui input">
    <input type="text" name='nameSrch' placeholder="Search Name..">
  </div>
</div>
<div class="item">
  <div class="ui calendar" id="rangeStart">
    <div class="ui small input left icon">
      <i class="calendar icon"></i>
      <input type="text" name="dateStart" placeholder="Start Date">
    </div>
  </div>
</div>
<div class="item">
  <div class="ui calendar" id="rangeEnd">
    <div class="ui small input left icon">
      <i class="calendar icon"></i>
      <input type="text" name="dateEnd" placeholder="End Date">
    </div>
  </div>
</div>
<div class="right item">
  <button type="submit" class="ui orange compact button">Apply Filters</button>
</div>
