<div class="item">
  <div class="ui input">
    <input type="text" name='nameSrch' placeholder="Search Name.." value="<%= filterArray[0]%>">
  </div>
</div>
<div class="item">
  <div class="ui calendar" id="rangeStart">
    <div class="ui small input left icon">
      <i class="calendar icon"></i>
      <input type="text" name="dateStart" placeholder="Start Date" value="<%= filterArray[1]%>">
    </div>
  </div>
</div>
<div class="item">
  <div class="ui calendar" id="rangeEnd">
    <div class="ui small input left icon">
      <i class="calendar icon"></i>
      <input type="text" name="dateEnd" placeholder="End Date" value="<%= filterArray[2]%>">
    </div>
  </div>
</div>
<div class="item" style="display:none;">
  <input type="hidden" name="action" value="1">
</div>
<div class="right item">
  <div class="ui compact buttons">
    <button type="reset" class="ui button">Clear</button>
    <button type="submit" class="ui orange button">Apply Filters</button>
  </div>
</div>
