  <footer>
    <hr>
    <p>sample text</p>
    <p>&copy;XYZ Company, all rights reserved</p>
    <a href="/login">LOGIN</a>
    <a href="/register">REGIStER</a>
  </footer>

  <script type="text/javascript" src='/jquery.min.js'></script>
  <script type="text/javascript" src='/semantic-ui/semantic.min.js'></script>
  <script type="text/javascript" src='script.js'></script>
</body>
</html>
