<% include partials/header %>
<body id='contactUs'>
<% include partials/navbar %>

<main>
  <div id='mainContainer'>
    <div id='mapContainer'>
      <div id="map"></div>
      <div>
        <!-- <br> -->
        <h3>Address:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur
        <br>
        adipisicing elit. Officia aut modi
        <br>
        ZIP: 500003
        <br>
        <b>Phone: +91 8007006005</b></p>
      </div>
    </div> <!-- /mapContainer -->
    <div class='divider'></div>
    <div id='userInput'>
      <h3>Schedule an appointment</h3>
      <form class="ui form" action="/contact-us" method="POST">
        <div class="field">
          <input type="text" name="fname" placeholder="First Name">
        </div>
        <div class="field">
          <input type="text" name="lname" placeholder="Last Name">
        </div>
        <div class="field">
          <input type="text" name="phone" placeholder="Phone Number">
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="e-mail Address">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0">
            <label>It's okay to contact me</label>
          </div>
        </div>
        <button class="ui button primary fluid disabled" type="submit">Submit</button>
      </form>
    </div><!-- /userInput -->
  </div><!-- /mainContainer -->

</main>


<!-- Script for running map API -->
<script type="text/javascript">
function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClMzihLwNFdt39UnmAUKSVZI28ySoOXaw&callback=initMap"></script>
<script type="text/javascript" src='/jquery.min.js'></script>
<script type="text/javascript" src='/semantic-ui/semantic.min.js'></script>
<script type="text/javascript" src='script.js'></script>

<% include partials/footer %>
