<% include partials/header %>
<body>
<% include partials/navbar %>

<main>
  <% include partials/alerts %>
  
  <h2>Details submitted successfully</h2>
</main>

<% include partials/footer %>
