<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vastu Website</title>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400|Lato" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome.min.css">
  <link rel="stylesheet" href="/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="/glidejs/glide.core.min.css">
  <link rel="stylesheet" href="/glidejs/glide.theme.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body id='landingPage'>
  <div id='top' class='hideElement'></div>
  <div id='top1' class='hideElement'></div>
  <nav class="ui secondary menu">
    <a id='top1Link' class="item scrollLink"><span>Home</span></a>
    <a id='GlideLink' class="item scrollLink">Projects</a>
    <a id='aboutUsLink' class="item scrollLink">About Us</a>
    <a id='servicesLink' class="item scrollLink">Services</a>
    <div class="right menu">
      <% if(currentUser){ %>
        <div class="ui dropdown item">
          Logged in as: <%= currentUser.username %> <i class="dropdown icon"></i>
          <div class="menu">
            <a href="/logout" class="item"><i class="sign out icon"></i>Sign-out</a>
            <a href="/customerdata" class="item"><i class="users icon"></i>Customer Data</a>
          </div>
        </div>
      <% } %>
      <a href="/contact-us" class="item">
        <button class="ui right labeled icon button teal">
          <i class="right arrow icon"></i>
          Contact Us
        </button>
      </a>
    </div>
  </nav>

  <main>
    <div>
      <% include partials/alerts %>
      <div>
        <p>ABC Consultancy Services</p>
        <p>company tagline goes here</p>
        <p>Consulting / Service_2 / Service_3</p>
      </div>
    </div>

    <div id="Glide" class="glide">
          <h2>Projects: (Drag/swipe to interact)</h2>
          <div class="glide__arrows">
              <button class="glide__arrow prev" data-glide-dir="<">prev</button>
              <button class="glide__arrow next" data-glide-dir=">">next</button>
          </div>
          <div class="glide__wrapper">
               <ul class="glide__track">
                  <li class="glide__slide">
                    <div class="ui card">
                      <div class="image">
                        <img src="/glidejs/resources/images/sampleImage1.png">
                      </div>
                      <a class="content" href='#'>
                        <div class="header">BMX jump</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature.</p>
                          <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                      </a>
                      <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                      </div>
                    </div>
                  </li>

                  <li class="glide__slide">
                    <div class="ui card">
                      <div class="image">
                        <img src="/glidejs/resources/images/sampleImage2.png">
                      </div>
                      <a class="content" href='#'>
                        <div class="header">Sombre</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature.</p>
                          <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                      </a>
                      <div class="extra content">
                        <i class="check icon"></i>
                        150 Votes
                      </div>
                    </div>
                  </li>

                 <li class="glide__slide">
                    <div class="ui card">
                      <div class="image">
                        <img src="/glidejs/resources/images/sampleImage3.png">
                      </div>
                      <a class="content" href='#'>
                        <div class="header">Axe and knife</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature.</p>
                          <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                      </a>
                      <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                      </div>
                    </div>
                  </li>

                  <li class="glide__slide">
                    <div class="ui card">
                      <div class="image">
                        <img src="/glidejs/resources/images/sampleImage4.png">
                      </div>
                      <a class="content" href='#'>
                        <div class="header">Skyline</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature.</p>
                          <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                      </a>
                      <div class="extra content">
                        <i class="check icon"></i>
                        150 Votes
                      </div>
                    </div>
                  </li>

                  <li class="glide__slide">
                    <div class="ui card">
                      <div class="image">
                        <img src="/glidejs/resources/images/sampleImage5.png">
                      </div>
                      <a class="content" href='#'>
                        <div class="header">Trail Mix</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature.</p>
                          <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                      </a>
                      <div class="extra content">
                        <i class="check icon"></i>
                        150 Votes
                      </div>
                    </div>
                  </li>
              </ul>
          </div>
          <div class="glide__bullets"></div>
    </div>

    <div class="ui container">
      <div id='aboutUs'>
        <h2>About Us:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ullam illum temporibus sed quo eligendi in dolorem? Repudiandae laborum quae magni distinctio, delectus molestiae nulla facilis illo minus officiis laudantium, voluptatum nemo aperiam unde modi necessitatibus ut quod, odio quibusdam atque minima repellat ipsam incidunt. Esse itaque repudiandae voluptates aspernatur cumque culpa veniam, deserunt, harum repellendus delectus nemo autem! Veritatis perspiciatis laborum accusamus illo voluptatum commodi cupiditate adipisci pariatur deleniti assumenda alias impedit, reprehenderit molestias reiciendis vitae vel voluptatibus porro enim possimus distinctio quia. Asperiores pariatur eius, excepturi numquam ipsa perferendis, commodi repellat ullam iusto sint praesentium earum autem tenetur?</p>
        <h4>Lists Sample</h4>
        <ol>
          <li>Coffee</li>
          <li>Milk
            <ul>
              <li>High Fat</li>
              <li>Skimmed</li>
            </ul>
          </li>
          <li>Tea</li>
        </ol>
        <div>
          <img src="/images/helloquence-61189.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolorum cumque expedita maiores eaque modi consequatur vitae laborum nulla, tenetur beatae ab, aut cupiditate amet?</p>
        </div>
        <div>
          <img src="/images/stefan-stefancik-257625.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusamus, obcaecati, minima voluptatum cumque non.</p>
        </div>
      </div>
      <div id='services'>
        <h2>Services Offered: (Click services to interact)</h2>
        <div class="ui styled fluid accordion">
          <div class="title active">
            <i class="dropdown icon"></i>
            Consultancy Service
          </div>
          <div class="content active">
            <p class="transition visible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, sint eaque! Ratione voluptates corporis aperiam impedit voluptas ea velit repudiandae veniam adipisci ex quae error fuga amet nisi dolorum quam quia deleniti consectetur vero, similique praesentium ducimus consequatur. Natus fuga dolor nihil eius debitis laborum rem ullam, distinctio deleniti ea.</p>
            <p class="transition visible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, saepe?</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Service_2
          </div>
          <div class="content">
            <p class="transition hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium magnam est, possimus qui expedita similique molestiae culpa laborum numquam earum libero perferendis obcaecati at sunt explicabo nisi vitae quas voluptatum rem itaque quod facilis amet laboriosam, atque! Eos delectus, ex corrupti dolor animi eaque, at consequatur sit placeat! Sunt, placeat.</p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Service_3
          </div>
          <div class="content">
            <p class="transition hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sunt, explicabo quos.</p>
            <p class="transition hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad reiciendis minus, vel odit itaque. Nam eveniet laudantium unde fuga error ipsum, eius enim cupiditate nemo odio. Facere, quidem velit non.</p>
          </div>
        </div>
      </div>

      <div id='testimonials'>
        <h2>Testimonials</h2>
        <div class="temp">Not Done Yet..</div>
      </div>
    </div>

    <div class='buttonBar hideElement'>
      <button id='topLink' class="scrollLink ui labeled icon button">
        <i class="up arrow icon"></i>
        Top
      </button>
      <a href="/contact-us" class='contactUs'>
        <button class="ui right labeled icon button teal">
          <i class="right arrow icon"></i>
          Contact Us
        </button>
      </a>
    </div>

  </main>

  <footer>
    <hr>
    <p>sample text</p>
    <p>&copy;XYZ Company, all rights reserved</p>
  </footer>

  <script type="text/javascript" src='/jquery.min.js'></script>
  <script type="text/javascript" src='/semantic-ui/semantic.min.js'></script>
  <script type="text/javascript" src='/glidejs/glide.min.js'></script>
  <script type="text/javascript" src='/script.js'></script>
</body>
</html>
