<% include partials/header %>
<body id="login">
<% include partials/navbar %>
<main>
  <% include partials/alerts %>

  <div class="ui four column doubling stackable centered grid">
    <div class="column ui raised segment">
      <h2>Login</h2>
      <form action="/login" method="POST" class="ui form column">
        <div class="field">
          <input type='text' name='username' placeholder='Username'>
        </div>
        <div class="field">
          <input type='password' name='password' placeholder='Password'>
        </div>
        <button class="ui button teal" type="submit">Submit</button>
      </form>
    </div>
  </div>

</main>

<% include partials/footer %>
