<% include partials/header %>
<body>
<% include partials/navbar %>
<main>
  <h1>Login Page</h1>
  <h3 style="background-color:teal;"><%= success %></h3>
  <h3 style="background-color:tomato;"><%= error %></h3>
  <form action='/login' method='POST'>
      <input type='text' name='username' placeholder='Username'>
      <input type='password' name='password' placeholder='Password'>
      <button>Login</button>
  </form>
</main>

<% include partials/footer %>
