<% include partials/header %>
<body>
<% include partials/navbar %>

<main>
  <h1>Register Page</h1>

  <form action='/register' method='POST'>
      <input type='text' name='username' placeholder='Username'>
      <input type='password' name='password' placeholder='Password'>
      <button>Register</button>
  </form>
</main>

<% include partials/footer %>
