@import "normalize.css";
/*==============================
        Page Styles
==============================*/
html, body{
  height: auto;
}
html {
  /*font-size: 14px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body{
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0,0,0,0.1);
}
#landingPage main > div:first-child{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landingPage main > div:first-child > div p{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  text-align: center;

  text-shadow: 0px 5px 10px rgba(0,0,0,1);
}
#landingPage main > div:first-child > div p:first-child{
  font-size: 2.5em;
}
#aboutUs div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: 10px;
}
#aboutUs div img{
  max-height: 300px;
  padding: 10px;
  order: 1;
  /*max-width: 800px;
  min-width: 250px;
  width: 33%;*/
}
#aboutUs, #services, #testimonials{
  font-size: 1.2em;
}

#landingPage main > div:first-child, .ui.secondary.menu, footer{
  color: white;

  background: #2b5876;                                                          /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);              /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876);                      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ui.secondary.menu a{
  color: inherit;
}
.ui.secondary.menu a.item:hover{
  color: rgba(200,200,200,1);
}
#landingPage .ui.secondary.menu{
  border-radius: 0;
  margin: 0;
}
#landingPage .navShadow{
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
}
/*#Glide, #aboutUs, #services{
  background-color: rgba(0,0,0,0.05);
}*/
#Glide, #aboutUs, #services, #testimonials{
  line-height: 2;
  padding-top: 5em;
}
#aboutUs p, #services p{
  line-height: inherit;
}
#services .ui.accordion{
  background-color: rgba(0,0,0,0.01);
}

#Glide .ui.card .image img{
  max-height: 200px;
}
#Glide .glide__arrow{
  color: orange;
}
#Glide .ui.card{
  margin: 0 auto;
}
/*#contactUs main{
  display: grid;
  grid-template-columns: [col1-start] 3fr [col1-end col2-start] 2fr [col2-end];
  grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end];
  grid-gap: 15px;
}*/
#contactUs{
  display: grid;
  grid-template-columns: [col1-start] 3fr [col1-end col2-start] 2fr [col2-end];
  grid-template-rows: [row1-start] 44px [row1-end row2-start] auto [row2-end row3-start] auto [row3-end row4-start] 80px [row4-end];
}
#contactUs .ui.form{
  background-color: rgba(0,0,0,0.1);
  opacity: 0.9;
  padding: 10px;

  -webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
}
#contactUs .ui.secondary.menu{
  grid-column-start: col1-start;
  grid-column-end:   col2-end;
  grid-row-start:    row1-start;
  grid-row-end:      row1-end;

  margin: 0;
}
#contactUs #mapContainer{
  grid-column-start: col1-start;
  grid-column-end:   col2-end;
  grid-row-start:    row2-start;
  grid-row-end:      row2-end;
}
#contactUs #userInput{
  grid-column-start: col1-start;
  grid-column-end:   col2-end;
  grid-row-start:    row3-start;
  grid-row-end:      row3-end;
}
#contactUs footer{
  grid-column-start: col1-start;
  grid-column-end:   col2-end;
  grid-row-start:    row4-start;
  grid-row-end:      row4-end;
}

/*#mapContainer{
  grid-column-start: col1-start;
  grid-column-end: col2-end;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}
#userInput{
  grid-column-start: col1-start;
  grid-column-end: col2-end;
  grid-row-start: row2-start;
  grid-row-end: row2-end;
}*/
#mapContainer, #userInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 40px;
  background-color: rgba(255,255,255,1);
  padding: 3px;
}
.buttonBar .scrollLink{
  flex: 1 1 auto;
  padding:4px;
}
.buttonBar .contactUs {
  flex: 3 1 auto;
  margin: 0 0.25em 0 1em;
}
.buttonBar .contactUs .ui.button{
  width: 100%;
}
.showElement{
  display: flex;
}
.hideElement{
  display: none;
}
#landingPage footer{
  margin-bottom: 40px;
}
#map{
  /*height: 400px;*/
  min-height: 400px;
  background-color: grey;
}

/*------------------------------------*/
/*-----     Media Queries    --------*/
/*------------------------------------*/
@media screen and (min-width: 768px){
  .buttonBar{
    display: none;
  }
  #landingPage footer{
    margin-bottom: inherit;
  }
  #landingPage main > div:first-child > div p{
    font-size: 1.5em;
  }
  #landingPage main > div:first-child > div p:first-child{
    font-size: 4em;
  }
  #aboutUs div{
    flex-direction: row;
  }
  #aboutUs, #services, #testimonials{
    font-size: 1.2em;
  }
  /*#mapContainer{
    grid-column-start: col1-start;
    grid-column-end: col1-end;
    grid-row-start: row1-start;
    grid-row-end: row2-end;
  }
  #userInput{
    grid-column-start: col2-start;
    grid-column-end: col2-end;
    grid-row-start: row1-start;
    grid-row-end: row2-end;
  }*/
  #contactUs #mapContainer{
    grid-column-start: col1-start;
    grid-column-end:   col1-end;
    grid-row-start:    row2-start;
    grid-row-end:      row3-end;
  }
  #contactUs #userInput{
    grid-column-start: col2-start;
    grid-column-end:   col2-end;
    grid-row-start:    row2-start;
    grid-row-end:      row3-end;
  }
}
