@import "normalize.css";
/*==============================
        Page Styles
==============================*/
html {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body{
  height: auto;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0,0,0,0.1);

  display: flex;
  flex-flow: column nowrap;
}
main{
  height: 100%;
  flex-grow: 1;
}
.ui.secondary.menu{
  margin: 0;
}
#landingPage main > div:first-child{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#landingPage main > div:first-child > div p{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 5px 10px rgba(0,0,0,1);
}
#landingPage main > div:first-child > div p:first-child{
  font-size: 2.5em;
}
#aboutUs div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: 10px;
}
#aboutUs div img{
  max-height: 300px;
  padding: 10px;
  order: 1;
}
#aboutUs, #services, #testimonials{
  font-size: 1.2em;
}

#landingPage main > div:first-child, .ui.secondary.menu, footer{
  color: white;

  background: #2b5876;                                                          /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);              /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876);                      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ui.secondary.menu *{
  color: inherit;
}
.ui.secondary.menu a.item:hover, .ui.secondary.menu .dropdown.item:hover{
  color: rgba(200,200,200,1);
}
#landingPage .navShadow{
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
}
/*#Glide, #aboutUs, #services{
  background-color: rgba(0,0,0,0.05);
}*/
#Glide, #aboutUs, #services, #testimonials{
  line-height: 2;
  padding-top: 5em;
}
#aboutUs p, #services p{
  line-height: inherit;
}
#services .ui.accordion{
  background-color: rgba(0,0,0,0.01);
}

#Glide{
  height: auto;
}
#Glide .ui.card .image img{
  max-height: 200px;
}
#Glide .glide__arrow{
  color: orange;
}
#Glide .ui.card{
  margin: 0 auto;
}
.buttonBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 40px;
  background-color: rgba(255,255,255,1);
  padding: 3px;
}
.buttonBar .scrollLink{
  flex: 1 1 auto;
  padding:4px;
}
.buttonBar .contactUs {
  flex: 3 1 auto;
  margin: 0 0.25em 0 1em;
}
.buttonBar .contactUs .ui.button{
  width: 100%;
}
.showElement{
  display: flex;
}
.hideElement{
  display: none;
}
#landingPage footer{
  margin-bottom: 40px;
}
#map{
  min-height: 400px;
  background-color: grey;
}
#map + div{
  padding-top: 1em;
  text-align: center;
}
#alerts{
  margin: 10px;
}
#login .ui.grid, #register .ui.grid{
  margin-top: 10vh;
}
.centerAlign{
  text-align: center;
}
.recNumDisplay{
  display: inline-block;
  float: right;
  background-color: skyblue;
}
#menuBar{
  margin-bottom:0;
}
#menuBar, #menuBar a, #filterBar{
  border-radius: 0;
}
#filterBar{
  margin-top:0;
}
/*------------------------------------*/
/*-----     Media Queries    --------*/
/*------------------------------------*/
@media screen and (min-width: 768px){
  .buttonBar{
    display: none;
  }
  #landingPage footer{
    margin-bottom: inherit;
  }
  #landingPage main > div:first-child > div p{
    font-size: 1.5em;
  }
  #landingPage main > div:first-child > div p:first-child{
    font-size: 4em;
  }
  #aboutUs div{
    flex-direction: row;
  }
  #aboutUs, #services, #testimonials{
    font-size: 1.2em;
  }
  #mainContainer{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #mapContainer{
    padding: 10px;
    flex: 3 1 400px;
    max-width: 650px;

    border-radius: 4px;
  }
  .divider{
    width: 1px;
    height: 70vh;
    background: black;
    margin: 0 10px;
  }
  #map{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  }
  #userInput{
    padding: 10px;
    flex: 1 1 300px;
    max-width: 400px;
  }
  #customerData #paginationParent{
    text-align: inherit;
  }
}
